@media all and (max-width: 600px) {
  header img { width: 100%; }
}
@media (max-width: 576px) {
  hr {
      width: 25%;
  }
}
* {
  font-family: "Nunito", sans-serif;
}



/* Style de l'image-container */
.image-container {
  position: relative;
  /* Nécessaire pour positionner le texte au-dessus de l'image */
}



h1 {
  font-size: 6vw;
  /* Ajustez la taille de la police pour le h1 */
  margin: 0;
}

h2 {
  font-size: 2rem;
  /* Ajustez la taille de la police pour le h2 */
  margin: 0;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

/* Responsivité pour les petits écrans */
.text {
  font-size: 15px;
}

footer {
  font-size: 14px;
}

.nav-item {
  font-size: 14px;
}

.underline-hover:hover {
  text-decoration: underline;
}

.hover-bold:hover {
  font-weight: bold;
}
.modal{
z-index:1060;
}
section .p{
  font-size: 10px;
}
.custom-small-font {
  font-size: 0.8rem;
}
